.forgot-password-form {
  position: relative; 
}

.bfp{
  margin-top: 5rem;
}

.back-button {
  position: absolute;
  top: -40px; 
  left: -20px; 
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}


.back-button:hover {
  color: #f24a02; 
}


.back-icon {
  font-size: 2rem; 
}
.form-field .msg {
  position: absolute;
  top: calc(100% + 30px); /* Adjust the distance from the input field */
  left: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #bdbdbd;
}
